/* line 6, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
a {
  outline: none;
}
/* line 9, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
a:hover {
  background: none;
}

/* line 14, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.btn {
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 21, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_main {
  width: 100%;
  height: 100%;
  min-height: 600px;
  min-width: 1024px;
  position: relative;
}

/* line 29, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.standard_container {
  width: 100%;
  height: 100%;
}

/* line 34, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_primary_menu {
  width: 100%;
  height: 40px;
  position: relative;
  top: 0;
  left: 0;
  z-index: 100;
  border-top: 2px solid orangered;
  border-bottom: 2px solid orangered;
  background: orange;
  background: -moz-linear-gradient(left, orange 0%, orangered 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, orange), color-stop(100%, orangered));
  background: -webkit-linear-gradient(left, orange 0%, orangered 100%);
  background: -o-linear-gradient(left, orange 0%, orangered 100%);
  background: -ms-linear-gradient(left, orange 0%, orangered 100%);
  background: linear-gradient(to right, orange 0%, orangered 100%);
}

/* line 46, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_main_content {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -40px;
  padding: 50px 10px 10px 10px;
  z-index: 1;
  border-bottom: 2px solid orangered;
}

/* line 56, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_search_container {
  box-sizing: border-box;
  width: 100%;
  height: 110px;
  position: relative;
  top: 0;
  left: 0;
  padding-bottom: 10px;
  z-index: 100;
}

/* line 67, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_manager_container {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: -110px;
  padding-top: 110px;
  z-index: 1;
}

/* line 76, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_manager_viewer {
  float: left;
  width: 60%;
  height: 100%;
}

/* line 82, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_manager_inspector {
  float: left;
  width: 40%;
  height: 100%;
}

/* line 91, /Users/admin/RubymineProjects/zf_user_manager/app/assets/stylesheets/zf_user_manager/zf_user_manager.css.scss */
.zum_search {
  box-sizing: border-box;
  height: 90px;
  padding: 5px 10px;
  background: #F5F5F5;
  background: -moz-linear-gradient(top, #F5F5F5 0%, #EDEDED 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #EDEDED));
  background: -webkit-linear-gradient(top, #F5F5F5 0%, #EDEDED 100%);
  background: -o-linear-gradient(top, #F5F5F5 0%, #EDEDED 100%);
  background: -ms-linear-gradient(top, #F5F5F5 0%, #EDEDED 100%);
  background: linear-gradient(to bottom, #F5F5F5 0%, #EDEDED 100%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -khtml-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid 1px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

