// Place all the styles related to the user_manager controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}